
# Visual Studio files
Ancora Game Engine.sln
Ancora Game Engine.vcxproj
Ancora Game Engine.vcxproj.filters
Ancora Game Engine.vcxproj.user
.vs/
x64/
Ancora Game Engine.cpp
framework.h
pch.cpp
pch.h

# Dependencies
assimp-vc143-mt.dll
glew32.dll
glfw3.dll
freetype.dll
audiere.dll
depends/
